		section {
			padding: 60px 0;
		}
        .open{
                display: block !important;
                transition: 0.5s;
            }
        html{
            font-family: Arial, Helvetica, sans-serif;
        }
		#owl-demo .item img{
		  display: block;
		  width: 100%;
		  height: auto;
		  text-align:center;
		}
		
		.slide-progress {
		  width: 0;
		  max-width: 100%;
		  height: 4px;
		  background: rgba(0, 0, 0, .2);
		}
		
		.img-container {
            overflow: hidden;
        }

        .img-container img {
            transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out, opacity 0.3s linear;
        }

        .img-container img:hover {
            transform: scale(1.1);
            opacity: .8;
        }

        /* .navbar-nav li:nth-child(2){
            position: relative;
        } */
        .nav-ao,
        .nav-quan{
            display: none;
            list-style: none;
            position: absolute;  
            /* padding: 0 8px; */
            padding: 0;
            background-color: #fff;
            /* box-shadow: 0 0 5px rgba(0,0,0,0.3); */
        }
        .nav-ao li,
        .nav-quan li{
            padding: 8px;
            font-size: small;
            border-bottom:1px solid #ededed;
            border-top:1px solid #ededed ;
            cursor: pointer;
        }
        .navbar-search{
            position: relative;
        }
        .navbar-search .act-search{
            display: none;
            position: absolute;
            margin-left: -260px;
            margin-top: 0px;
            width: 300px;;
            padding:10px 15px;
            border: rgb(104, 5, 5) solid 1px;
            animation: appear 0.3 ease;
        }
        .navbar-search i,
        .navbar-shopping i{
            background-color: #ededed;
            padding:8px;
            border: 1px solid #ededed;
            color:rgb(104, 5, 5);
            margin-left: 7px;
            border-radius: 2px;
        }
        .navbar-search i:hover,
        .navbar-shopping i:hover{
            border: 1px solid rgb(104, 5, 5);
            cursor: pointer;
            transition:0.5s;
        }
        .navbar-search .bi-x{
            font-size: larger;
            padding: 2px 2px;
        }
        .text-decoration-none{
            position: relative;
        }
        .text-decoration-none .fa-shopping-cart{
            /* display: none; */
            position: absolute;
            top: -15%;
            left: calc(80% - 29px);

            padding:20px;
            color: #fff;
            font-size: larger;
            border-radius: 50%;
            background-color: rgb(104, 5, 5);
            animation: disappear .3s ease-out 1;
            z-index: 1;

        }
        .text-decoration-none .fa-shopping-cart::before{
            margin-left: -2px;
        }
        .text-decoration-none .fa-shopping-cart:hover {
            background-color: rgb(212, 10, 10);
            
        }

        .text-decoration-none img:nth-child(2){
            /* position: absolute; */
            display: inline-block;
            /* zoom: 1.5; */
            top: -69%;
            left: 4%;
            z-index: 2;
        }
        .text-decoration-none img:nth-child(3){
            display: none;

            z-index: 2;
            width: 100%;
            transition: all 1s ease-in-out;
        }
        .text-decoration-none:hover img:nth-child(2){
            z-index: -1;
            display: none;
            transition: 0.5s;
        }
        .text-decoration-none:hover img:nth-child(3){
            display: inline-block;
        }
        div:hover > .text-decoration-none .fa-shopping-cart{
            display: block;
            animation: appear .3s ease-out 1;
        }
        @keyframes appear{
            from{
                transform: rotate(-45deg)
            }
            to {
                transform: translateX(0deg);
            }
        }

        .order{
            background-color: aqua;
            width: 80%;
            height: 500px;
            position: fixed;
            top: 150px;
            

            z-index: 1;

        }

        @media (min-width: 1000px){
            .nav-ao,
            .nav-quan{
                width: 200px;
            }
            .navbar-nav li:nth-child(2):hover a,
            .navbar-nav li:nth-child(3):hover a{
                color: #b31f2a
            }
            .navbar-nav li:nth-child(2):hover ul,
            .navbar-nav li:nth-child(3):hover ul{
                display: block;

            }

            .nav-ao li:hover,
            .nav-quan li:hover{
                opacity: 0.8;
                color: #b31f2a;
                background-color: #eeeeee;
            }
            .nav-ao,
            .nav-quan{
                box-shadow: 0 0 5px rgba(0,0,0,0.3);
            }
        }

        @media (max-width: 1000px){
            .open-max-1000{
                display: block;
            }
            .nav-ao li:hover,
            .nav-quan li:hover{
                opacity: 0.8;
                color: #b31f2a;
                background-color: #eeeeee;
            }
            
            .nav-ao,
            .nav-quan{
                position: relative;
            }
            .nav-ao ul{
                /* width: 200px; */
                width: 100%;
            }
            .navbar-shopping{
                position: absolute;
                right: 0;
                margin-right: 70px;
                top:20px;
                zoom: 1.2;
            }
            .navbar-search{
                position: absolute;
                right: 0;
                top: 20px;
                margin-right: 120px;
                zoom: 1.2;
            }
            .navbar-nav li:nth-child(2):hover a,
            .navbar-nav li:nth-child(3):hover a {
                background-color: #eeeeee;
            }

        }