* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
}

.fg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.fg-wrapper {
  width: 400px;
}


.fg-title {
  font-size: 30px;
}

.fg-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.fg-input:focus {
  border: 1px solid blue;
  transition: 0.3s;
}

.fg-subtitle {
  font-size: 16px;
  color: gray;

}

.fg-wrapper-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fg-btn-back {
  margin-top: 10px;
  background-color: #f1f1f1;
  color: blue;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.fg-btn-back:hover {
  background-color: #e1e1e1;
  transition: 0.3s;
}

.fg-btn-continue {
  margin-top: 10px;
  background-color: blue;
  color: white;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}